$colors: #ffff53, #4dffff, #5bf390, #ff4cff, #ff813d, #6060ef;

//height first
// $bar-height: 20em;
// $bar-width: $bar-height / 4.8;
// $title-size: $bar-width*1.98;

//type first
$title-size: 8.25em;
$bar-height: 2.424242424 * $title-size;
$bar-width: $bar-height / 4.8;

.hero-anim {
  font-size: 0.4em;
  height: 60vh;
  position: relative;
  background: $dark-gray;
  color: $dark-gray;
  overflow: hidden;
  @media #{$medium-up} {
    // height: 80vh;
    min-height: $bar-height*1.25;
    font-size: 3vw;
    padding-bottom: 6rem;
  }
  @media #{$large-up} {
    font-size: 1em;
  }
}
.hero-anim__container {
  width: $bar-width*6;
  height: $bar-height;
  // height: $bar-height;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)skew(-7.77deg);
  text-align: center;
}
.hero-anim__bar {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: inline-block;
  height: $bar-height;
  width: $bar-width;
  float: left;
  // border-radius: 0.1em;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      background-color: nth($colors, $i);
    }
  }
  &:nth-child(odd) {
    // transform: translateY(12.5%);
    transform: translateY(2.5em);
  }
  &:nth-child(even) {
    // transform: translateY(-12.5%);
    transform: translateY(-2.5em);
  }
}
.hero-anim__title {
    @extend %alpha;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-49.5%, -50%);
    transform: translate(-49.7%, -50%);
    font-size: $title-size;
}