{% extends '_base.html' %}

{% block content %}

<div class="hero-anim">
    <div class="hero-anim__container">
        <div class="hero-anim__bar"></div>
        <div class="hero-anim__bar"></div>
        <div class="hero-anim__bar"></div>
        <div class="hero-anim__bar"></div>
        <div class="hero-anim__bar"></div>
        <div class="hero-anim__bar"></div>
    </div>
    <h1 class="hero-anim__title">Eli.wtf</h1>
</div>


{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    console.log('Hello, index');
</script>
{% endblock %}
