<section class="section">
    <div class="row">
        <div class="column small-12">
            <h2 class="section__title">About</h2>
        </div>

        <div class="column small-12 medium-10 medium-offset-1">
            <p class="copy">Eli is a Front End Developer who lives and works in his hometown of Washington DC. He likes making weird and / or stupid things with emerging web technologies. He dreams of one day chasing a villain atop a moving train.</p>
        </div>
    </div>
</section>
