<footer class="footer">
    <div class="row">
        <div class="column small-12 text-center">
            <a href="https://twitter.com/elifitch" target="_blank" class="footer__link footer__twitter">{% include 'partials/icons/twitter.svg' %}</a>
            <a href="https://codepen.io/EliFitch" target="_blank" class="footer__link footer__codepen">{% include 'partials/icons/codepen.svg' %}</a>
            <a href="https://dribbble.com/elifitch" target="_blank" class="footer__link footer__dribbble">{% include 'partials/icons/dribbble.svg' %}</a>
            <a href="https://github.com/elifitch" target="_blank" class="footer__link footer__github">{% include 'partials/icons/github.svg' %}</a>
        </div>
    </div>
</footer>
