<section class="section">
    <div class="row">
        <div class="column small-12 medium-10 medium-offset-1">
            <h2 class="section__title">Portfolio</h2>
        </div>

        <div class="column small-12 medium-10 medium-offset-1">
            <a href="portfolio/facebook-trends" class="link-block link-block--trends">
                <span class="link-block__content">Facebook Trends</span>
                <figure class="link-block__bg"></figure>
            </a>
            <a href="portfolio/facebook-trends" class="link-block link-block--trends">
                <span class="link-block__content">ISL.co</span>
                <figure class="link-block__bg"></figure>
            </a>
            <a href="portfolio/facebook-trends" class="link-block link-block--trends">
                <span class="link-block__content">Beerminder</span>
                <figure class="link-block__bg"></figure>
            </a>
            <a href="portfolio/facebook-trends" class="link-block link-block--trends">
                <span class="link-block__content">Tullamore Dew's Gameface</span>
                <figure class="link-block__bg"></figure>
            </a>
        </div>
    </div>
</section>
