<section class="section">
    <div class="row">
        <div class="column small-12">
            <h2 class="section__title">Portfolio</h2>
        </div>

        <div class="column small-12">
            <a href="portfolio/facebook-trends" class="link-block link-block--trends">
                <span class="link-block__content">Facebook Trends</span>
                <figure class="link-block__bg"></figure>
                {# <img src="/img/trends/trends-screencap.jpg" alt="" class="link-block__bg"> #}
            </a>
        </div>
    </div>
</section>