.alpha, %alpha {
    font-family: 'brandon grotesque';
    font-weight: 800;
    font-style: italic;
    color: inherit;
    font-size: 6em;
}
.beta, %beta {
    @extend %alpha;
    font-size: 3em;
}
.gamma, %gamma {
    @extend %alpha;
}
.copy, %copy {
    font-family: 'pinopolis';
    font-weight: 400;
    font-style: regular;
    font-size: 1.2em;
    line-height: 1.8;
}